<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle || data.common.title %></title>
  <meta
    name="description"
    content="<%= pageDescription || data.common.description %>"
  />

  <link rel="stylesheet" href="<%= assetPath %>css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet"
  />
  <% if (typeof pageId !== 'undefined' && pageId === 'fleet') { %>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide-core.min.css"
  />
  <% } %>
  <!-- <link rel="icon" href="<%= assetPath %>favicon.ico" /> -->

  <meta property="og:title" content="<%= pageTitle || data.common.title %>" />
  <meta
    property="og:description"
    content="<%= pageDescription || data.common.description %>"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="<%= assetPath %>images/og-image.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
</head>
