<footer class="footer">
  <div class="footer__container">
    <div class="footer__info">
      <p>
        三豊運輸株式会社<br />
        〒710-0065 岡山県倉敷市宮前1丁目14-18 中川ビル6F<br />
        TEL: 000-0000-0000（平日 9:00〜18:00）
      </p>
    </div>
    <div class="footer__links">
      <a href="<%= path %>">ホーム</a>
      <a href="<%= path %>company/">会社概要</a>
      <a href="<%= path %>company/history/">沿革</a>
      <a href="<%= path %>fleet/">船舶一覧</a>
      <a href="<%= path %>contact/">お問い合わせ</a>
    </div>
  </div>
  <p class="footer__copyright">
    Copyright &copy; 三豊運輸株式会社 All rights reserved.
  </p>
</footer>
