<div class="loading-spinner is-loading"></div>
<header class="header">
  <div class="header__container">
    <a href="<%= path %>" class="header__logo">
      <span class="header__logo-ja">三豊運輸株式会社</span>
      <span class="header__logo-en">Sampo Unyu Co.,Ltd</span>
    </a>
    <div class="header__nav-wrapper">
      <nav class="nav-global" aria-label="メインナビゲーション">
        <ul class="nav-global__menu" id="global-nav-menu">
          <li class="nav-global__item">
            <a
              href="<%= path %>"
              class="nav-global__link <% if (pageId === 'top') { %>nav-global__link--active<% } %>"
              >ホーム</a
            >
          </li>
          <li class="nav-global__item">
            <a
              href="<%= path %>service/"
              class="nav-global__link <% if (pageId === 'service') { %>nav-global__link--active<% } %>"
              >事業案内</a
            >
          </li>
          <li class="nav-global__item">
            <a
              href="<%= path %>company/"
              class="nav-global__link <% if (pageId === 'company') { %>nav-global__link--active<% } %>"
              >会社概要</a
            >
          </li>
          <li class="nav-global__item">
            <a
              href="<%= path %>news/"
              class="nav-global__link <% if (pageId === 'news') { %>nav-global__link--active<% } %>"
              >お知らせ</a
            >
          </li>
          <li class="nav-global__item">
            <a href="<%= path %>contact/" class="nav-global__contact-button"
              >お問い合わせ</a
            >
          </li>
        </ul>
      </nav>
      <div class="header__lang-switch">
        <% if (lang === 'ja') { %> <span>JP</span> |
        <a href="<%= path %>en/">EN</a> <% } else { %>
        <a href="<%= path %>">JP</a> | <span>EN</span> <% } %>
      </div>
    </div>
    <button
      class="header__menu-toggle"
      aria-expanded="false"
      aria-controls="global-nav-menu"
      aria-label="メニューを開閉する"
    >
      <span class="material-icons-outlined header__menu-icon">anchor</span>
      <span class="header__menu-icon-text">MENU</span>
    </button>
  </div>
</header>
